# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/